  <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/">TripWale</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#/trips/add">Add Trip</a></li>
                            
              <li ngshow="currentUser"><a href="#/users/profile/{{user._id}}">Welcome {{user.name}}</a></li>
            
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div class="container">
        <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add Trip</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
      <form ng-submit="addTrip()">
        <div class="form-group">
          <label>City</label>
          <input type="text" class="form-control" ng-model="trip.city" placeholder="Author">
        </div>
        <div class="form-group">
          <label>Start Point</label>
          <input type="text" class="form-control" ng-model="trip.startpoint" placeholder="Publisher">
        </div>
        <div class="form-group">
          <label>Trip Places</label>
          <select multiple ng-model="trip.sights" class="form-control">
            <option value="alcatraz">alcatraz</option>
            <option value="twin peaks">twin peaks</option>
            <option value="downtown">downtown</option>
            <option value="golden gate">golden gate</option>
            <option value="chinatown">chinatown</option>
          </select>
        </div>
        <div class="form-group">
          <label>Endpoints</label>
          <textarea class="form-control" ng-model="trip.endpoint" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
          <label>Trip rating</label>
          <select ng-model="trip.rating" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="form-group">
          <label>time</label>
          <input type="text" class="form-control" ng-model="trip.time" placeholder="Buy URL">
        </div>
       
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    </div>
  </div>
      </div>
</div>
